* {
    box-sizing: border-box; 
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}
#nav {
    background: #D7E8D4;
    flex: 0.5;
}
.main-content {
    display: flex;
    flex-direction: column;
    flex: 5;
}

#header {
    background: yellowgreen;
    height: 8vh;
    padding: 1em;
}

#content {
    display: flex;
    flex-direction: row;
}

#content > #article {
    flex: 8;
    min-height: 82vh;
}

#content > #aside {
    background: beige;
    flex: 8;
}

#footer {
    background: yellowgreen;
    height: 10vh;
    padding: 1em;
}

/*https://www.quackit.com/html/html_editors/scratchpad/?example=/css/flexbox/examples/flexbox_website_layout_2*/